#Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

In [ ]:
Ans1. In the give elements values and expression can be indentified as follows

#Values
'hello'(string)
-87.8(float)
6(integer)

#Expression
(Multiplication operator '*')
(Subtraction operator '-')
(Division operator '/')
(Addition operator '+')

In [ ]:
#Values
a = 'hello'
type(a)

str

In [ ]:
b = -87.8
type(b)

float

In [ ]:
c = 6
type(c)

int

In [ ]:
#Expression
22*23 #multiplication operator

506

In [ ]:
56-45 #subtraction operator

11

In [ ]:
43/54 #division operation

0.7962962962962963

In [ ]:
22+34 #addition operator

56

#Q2.What is the difference between string and variable?

String

In [ ]:
#A string is a data type used to represent a sequence of characters sach as letters,digit,symbols.in many programming language, string are typically enclose in quotation marks(single and double) to diffent them from other type of data.
#eg
"Hello Everyone"
'Hy world'

Veriable

In [ ]:
#A variable is a symbolic name or identifier that represents a value stored in computer memory It is a container that can hold different types of data, including strings, numbers, booleans, and more. Variables provide a way to store and manipulate data
#eg
a,b,c,d,e = "Hello",23,True,64.6,3+4j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'complex'>

In [ ]:
#imp the mein diffrence between a string and veriable is that a string is a specific type of data(a sequence of characters) whereas a veriable placehold or reference that can store verious types data

#Q3.Describe three different data types.

Integer

In [ ]:
#An integer is a data type that represents whole numbers, both positive and negative, without any decimal or fractional parts.
#eg
3,23,45,3861,6,0,12,-642,-65

(3, 23, 45, 3861, 6, 0, 12, -642, -65)

float

In [ ]:
#A float is a data type used to represent numbers with decimal points or fractional values. It is commonly used when dealing with values that require more precision or when performing calculations involving fractional quantities.
#eg
3.0,45.4,-66.8,173.6

(3.0, 45.4, -66.8, 173.6)

Boolean

In [ ]:
#A boolean is a data type that represents a logical value indicating either true or false. Booleans are commonly used in conditional statements and logical operations. They are useful for making decisions based on conditions.
#eg
ten10 = True
todays is raining day = False

#Q4.What is an expression made up of? What do all expressions do?

In [ ]:
#Expressions allow programmers to perform computations, assign values, make decisions, and control the behavior of their programs based on the evaluation of the provided elements and operations.
#eg:- Compute Values
(2 + 5) # calculates the sum of 2 and 5, resulting in the value 7.

7

In [ ]:
#Assign Values
#eg
r = "8" #assigns the value 8 to the variable "r".
r

'8'

#Q5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
In the assignment statement "spam = 10", there are both an expression and a statement involved:

Statements

In [ ]:
#The statement as a whole is "spam = 10". It is a complete instruction or action that assigns the value of the expression "10" to the variable "spam".

In [ ]:
Examples of statements: "spam = 10" (assignment statement), "print('Hello, world!')" (print statement), "if condition: ..." (if statement), and "for item in list: ..." (for loop).

Expression

In [ ]:
#The expression in this statement is "10". It is a literal value representing the number 10.Expressions produce a value when evaluated. In this case, the expression "10" evaluates to the value 10.

In [ ]:
Examples of expressions: "3 + 7", "a * b", and "math.sqrt(9)".

#Q6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
The veriable 'bacon' will still contain the value 22.
#In the second line bacon + 1, the expression bacon + 1 evaluates to 23 (since bacon is 22 and 1 is added to it). However, the result of this expression is not stored or assigned to any variable.

In [ ]:
bacon = 22 #if now we update value of 'bacon' to reflect the result of the expression

In [ ]:
bacon = bacon + 1 #Now, the variable bacon would contain the value 23.

#Q7.What should the values of the following two terms be?
'spam'+'spamspam'

'spam'*3

In [ ]:
'spam'+'spamspam' #This is a string concatenation operation. It combines the two string values 'spam' and 'spamspam' into a single string.

'spamspamspam'

In [ ]:
'spam'*3 #This is a string repetition operation. It repeats the string value 'spam' three times.The resulting value would be 'spamspamspam'

'spamspamspam'

#Q8.Why is eggs a valid variable name while 100 is invalid?

In [ ]:
#For 'eggs'
#start with a letter or underscore: Variable names typically need to begin with a letter (a-z or A-Z) or an underscore (_). This allows the programming language to differentiate between variable names and other types of data. In the case of 'eggs', it starts with a letter, so it satisfies this requirement.

In [ ]:
#For 100
#100 is invalid as a variable name because it consists only of digits and doesn't meet the requirements stated above.

#Q9.What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
#Integer 'int'()
#The int() function can be used to convert a value to its integer representation. It takes a parameter and returns an integer version of that value,
num = int(2.13) #Exmple
print(num)

2

In [ ]:
#floating point number 'float()'
#The float()function is used to convert a value to its floating-point number representation.
num = float("2.13")
print(num)

2.13

In [ ]:
#string 'str()'
#The str() function is used to convert a value to its string representation.
value = "42"
str_value = str(value)
print(str_value)

42

#Q10.Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [ ]:
'i have eaten ' + 99 + 'burritos'

TypeError: ignored

In [ ]:
#In the fixed expression, str(99) converts the integer 99 to the string '99', allowing it to be concatenated with the other strings.
'i have eaten ' + '99 ' + 'burritos'

'i have eaten 99 burritos'